/* color */
@primary-color: #f5f5f5;
@message-color: #636363;
@split-color: rgba(0, 0, 0, 0.1);
@primary-hover-color: #e5e5e5;
@primary-active-color: #2196f3;
@deep-active-color: #1e87da;
@shallow-active-color: #1d99f3;
